body {
    background-color: var(--color-one);
}

/* section-one */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header a {
    font-size: 20px;
    font-weight: 700;
    line-height: 119px;
}

#cart,
#user {
    color: #656362;
}

.header a:hover {
    background-color: #fff;
}

#cart:hover,
#user:hover {
    color: var(--color-three);
    background-color: transparent;

}

.header .navbar-logo:hover {
    background-color: transparent;
}

.header .fa-bars {
    display: none;
}

.header .dropdown-menu {
    background-color: var(--color-one);
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

#product-page:hover {
    background-color: transparent;
}

#product-page span {
    border: 1px solid #000;
    padding: 15px 20px;
    border-radius: 20px;
}

@media (max-width: 1230px) {
    .header .fa-bars {
        display: block;
        font-size: 24px;
    }

    .header .nav-link,
    .header input,
    .header .fa-magnifying-glass,
    .header .fa-user {
        display: none;
    }

}


/* end section-one */


/* section-two */
.section-two {
    background-image: url(../../images/profile/d7a987453d2a642b831e623b1404531a.jpg);
    object-fit: contain;
    background-repeat: no-repeat;
    aspect-ratio: 1920/754;
    background-size: 100% auto;
    background-position: 80% 40%;
    position: relative;
}

.section-two i {
    position: absolute;
    top: 21rem;
    scale: 7;
    color: #fff;
    left: 50%;
}

.section-two p {
    position: absolute;
    top: 23rem;
    font-size: 5rem;
    color: #fff;
    left: 39%;
}

/* end section-two */


/* section-three */
.section-three {
    margin: 2% 0;
    height: 700px;
}

.section-three .inner-title {
    font-size: 24px;
    font-family: var(--font2);
    font-weight: 800;
    margin-bottom: 2%;
}

.section-three .sidebar {
    flex: 1;
    padding: 20px;
}

.section-three .sidebar h1 {
    font-family: var(--font2);
    font-size: 36px;
    font-weight: 400;
    margin-left: 40px;
}

.section-three .sidebar ul {
    margin-left: 60px;
    list-style-type: disc;
    padding: 0;
}

.section-three .sidebar ul li {
    font-family: var(--font2);
    margin-bottom: 15px;
    font-size: 26px;
    cursor: pointer;
}

.section-three .sidebar ul li:hover {
    font-weight: bold;
    text-decoration: underline;
}

.section-three .divider {
    width: 0.5px;
    background-color: #000;
    height: 500px;
    position: relative;
    top: 7em;
    left: -22em;

}

.section-three .container-fluid {
    display: flex;

}

.section-three .inner-content {
    align-items: center;
    display: flex;
    background-color: #fff;
    position: relative;
    left: -15em;
    top: 10em;
    height: 200px;
    width: 500px;
}

.section-three .inner-content .box {
    width: 500px;
    align-items: center;
    position: relative;
    top: -45px;
}



.section-three .inner-content .box .head {

    top: -5.65em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
}


#edit,
#close {
    color: #656362;
    font-size: 20px;
}

#edit:hover,
#close:hover {
    color: var(--color-text2);
}

.section-three .collapse-bootstrap {}

.section-three .inner-content .box .head {
    background-color: var(--color-three);

}

.section-three .inner-content .box .profile {
    padding-left: 20px;
    margin-top: 25px;

}

.section-three .collapse-bootstrap {
    position: relative;

}

.section-three .btn-primary {
    background-color: var(--color-two);
    border: none;
    position: relative;
    top: 7em;
    left: -8em;
    width: 500px;
    height: 50px;
    border-radius: none;
}

.section-three .card-body {
    width: 500px;
    height: 400px;
    position: relative;
    left: -8em;
    top: 6em;
}

.section-three .card-body .form input {
    width: 450px;
    height: 45px;
    background-color: var(--color-one);
    border: none;
    margin-bottom: 15px;
    padding-left: 5px;
}

.section-three .card-body .form textarea {
    width: 450px;
    background-color: var(--color-one);
    border: none;
    margin-bottom: 15px;
    padding-left: 5px;
    height: 70px;
}

.section-three .card-body .form .form-check input {
    width: 20px;
    height: 20px;
}

.section-three .card-body .form .form-check-label {
    margin-left: 5PX;
    position: relative;
    top: 3px;
}

.section-three .card-body button {
    margin-top: 20px;
    background-color: var(--color-text2);
    border: none;
    color: #fff;
    font-weight: 800;
    width: 150px;
    height: 40px;
}

.section-three .card-body button:hover {
    background-color: #fff;
    border: 2px solid var(--color-two);
    color: var(--color-two);

}

.section-three .boxAn {
    display: none;
}

.modal-title {
    border-bottom: none;
}

.section-three .boxAn {
    background-color: #fff;
    width: 500px;
    height: 300px;
    top: 0px;
    padding-left: 15px;
    padding-top: 20px;
    position: relative;

}

.section-three .btn-primary2 {
    margin-top: 20px;
    background-color: var(--color-text2);
    border: none;
    color: #fff;
    font-weight: 800;
    width: 100px;
    height: 40px;
    position: relative;
    left: -90px;
    top: -10px;
    font-family: var(--font2);
}

.section-three .btn-primary2:hover {
    background-color: #fff;

    color: var(--color-text2);
    border: 2px solid var(--color-text2);

}

.section-three .btn-secondary {
    font-family: var(--font2);
    margin-top: 20px;
    background-color: var(--color-one);
    border: none;
    color: var(--color-text1);
    font-weight: 900;
    width: 100px;
    height: 40px;
    position: relative;
    left: -190px;
    top: -10px;
}

.section-three .btn-secondary:hover {
    color: var(--color-one);
    border: 2px solid var(--color-text1);

}

.section-three .modal {
    margin-top: 10%;

}

.section-three .modal-body {

    padding-left: 45px;
    padding-top: 40px;
    font-weight: 500;
   


}

.section-three .modal-footer {
    border: none;
}

.section-three .boxAn input {
    width: 450px;
    height: 45px;
    background-color: var(--color-one);
    border: none;
    margin-bottom: 15px;
    padding-left: 5px;
}

.section-three .boxAn button {
    margin-top: 20px;
    background-color: var(--color-text2);
    border: none;
    color: #fff;
    font-weight: 800;
    width: 150px;
    height: 40px;
}

.section-three .boxAn button:hover {
    background-color: #fff;
    border: 2px solid var(--color-two);
    color: var(--color-two);

}

.section-three .boxAn a {
    margin-left: 15px;
    color: var(--color-text1);
    font-weight: 500;
    text-decoration: underline;
}

.section-three .boxAn a:hover {
    color: var(--color-text2);
}


.section-three .card-body a {
    margin-left: 15px;
    color: var(--color-text1);
    font-weight: 500;
    text-decoration: underline;
}

.section-three .card-body a:hover {
    color: var(--color-text2);
}

/* end section-three */

/* section-four - footer*/

/* footer / content */
footer .container-fluid .content {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    height: 80px;
    padding-top: 0.5%;
    align-items: center;
}

footer .container-fluid .content .inner-left {
    display: flex;
    align-items: center;
    gap: 5%;
}

footer .container-fluid .content .inner-left p {
    font-size: 100%;
    font-weight: 500;
    padding-top: 20px;
}


footer .container-fluid .content .inner-left input {
    background-color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: none;

}


footer .container-fluid .content .inner-left button {
    border: none;
    background-color: var(--color-three);
    color: #fff;
    width: 150px;
    height: 40px;
    font-weight: 500;
    border-radius: 20px;
}

footer .container-fluid .content .inner-left button:hover {
    background-color: #fff;
    color: var(--color-three);
    border: 2px solid var(--color-three);
    font-weight: 800;
}

footer .container-fluid .content .inner-right a {
    color: #656362;
}


footer .container-fluid .content .inner-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container-fluid .content .inner-right p {
    font-size: 100%;
    font-weight: 500;
    margin: 0;
}

footer .container-fluid .content .inner-right i {
    font-size: 180%;
    margin-right: 10px;
    opacity: 80%;
}

footer .container-fluid .content .inner-right a:last-child i {
    margin-right: 0;
}

footer .container-fluid .content .inner-right i:hover {
    color: var(--color-three);
}

@media (max-width:1199.98px) {
    footer .container-fluid .content p {
        font-size: 150%;
    }

    footer .container-fluid .content .inner-left button {
        width: 100px;
        font-weight: 500;
        border-radius: 20px;
        font-size: 15px;
    }


    footer .container-fluid .content .inner-left input {

        width: 250px;
        height: 40px;
        padding-left: 10px;
        border: none;

    }

}

@media (max-width: 991.98px) {
    footer .container-fluid .container p {
        font-size: 10px;
    }

    footer .container-fluid .content .inner-left input {

        width: 180px;
        height: 40px;
        padding-left: 10px;
        border: none;
        font-size: 14px;
    }

    footer .container-fluid .content .inner-left button {
        width: 100px;
        font-weight: 500;
        border-radius: 20px;
        font-size: 12px;
    }

    footer .container-fluid .content .inner-right i {
        font-size: 100%;
        margin-right: 3px;
        opacity: 80%;
    }

    footer .container-fluid .content .inner-right i {
        font-size: 150%;

    }

}

@media (max-width: 834px) {
    footer .container-fluid .content .inner-left input {

        width: 150px;
        height: 40px;
        padding-left: 10px;
        border: none;
        font-size: 14px;
    }

    footer .container-fluid .content .inner-left button {
        width: 100px;
        font-weight: 500;
        border-radius: 20px;
        font-size: 12px;
    }

}

@media (max-width: 767.98px) {
    footer .container-fluid .content .inner-left input {

        width: 140px;
        height: 40px;
        padding-left: 10px;
        border: none;
        font-size: 14px;
    }

    footer .container-fluid .content .inner-left button {
        width: 60px;
    }

    footer .container-fluid .content .inner-right i {
        font-size: 150%;

    }

}


/* footer / box */


footer .box {
    padding: 50px 100px;
}



footer .box .inner-content:last-child {
    margin-right: 0;
}

footer .box .inner-content>p {
    font-size: 18px;
    font-weight: 800;
}

footer .box .inner-content img {
    width: 40%;
}

footer .box .inner-content ul {
    padding: 0 5%
}

footer .box .inner-content ul li a {
    color: #000;
    text-decoration: none;


}

footer .box .inner-content ul li a:hover {
    color: var(--color-two)
}

footer .box .inner-content iframe {
    width: 300px;
    height: 200px;
}

footer .eire {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -10px;
}

footer .eire .logo1 {
    font-family: var(--fontLogo1);
    opacity: 80%;
    color: #5f5f5f;
}

footer .eire .logo2 {

    font-family: var(--fontLogo2);
    font-size: 200px;
    letter-spacing: 150px;
    padding-left: 100px;
    position: relative;
    top: -80px;
}


/* end */