body {
    background-color: var(--color-one);
}

/* section-one */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.header a {
    font-size: 20px;
    font-weight: 700;
    line-height: 119px;
}

#cart,
#user {
    color: #656362;
}

.header a:hover {
    background-color: #fff;
}

#cart:hover,
#user:hover {
    color: var(--color-three);
    background-color: transparent;

}

.header .navbar-logo:hover {
    background-color: transparent;
}

.header .fa-bars {
    display: none;
}

.header .dropdown-menu {
    background-color: var(--color-one);
    text-align: center;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item:hover {
    background-color: #f1f1f1;
}

@media (max-width: 1230px) {
    .header .fa-bars {
        display: block;
        font-size: 24px;
    }

    .header .nav-link,
    .header input,
    .header .fa-magnifying-glass,
    .header .fa-user {
        display: none;
    }

}


/* end section-one */
